---
Fuzzy Logic Seleksi Anggota BEM UDB (Metode Fuzzy Tahani)
---

In [2]:
#Import Library

import numpy as np
import pandas as pd

In [3]:
#Baca Dataset & Tampilkan Dataset

data_agtbarubem = pd.read_csv("dataset/anggotabem2.csv")
data_agtbarubem

,NIM,Nama,Penampilan Fisik,Sopan Santun,Kepercayaan Diri,Motivasi,Kemampuan Menyampaikan Pendapat,Pemahaman Tentang Organisasi
0,200103071,Joko Susanto,8.0,7.8,7.0,8,7.8,7.5
1,200416024,Siti Nur Azizah,8.0,7.0,7.0,8,8.0,8.0
2,200416008,Desya Puspita Sari,8.0,7.0,5.0,7,7.0,7.0
3,200207065,Erna Kusumawati,9.0,8.0,7.0,8,8.0,9.0
4,200416021,Reni Kurnia Angelika,9.0,8.0,8.0,8,8.0,8.0
5,200207054,Sanggita Wahyu Susanti,9.0,7.5,7.5,8,8.0,7.0
6,200416018,Nisa Rahmadani,8.0,8.0,7.0,7,6.0,4.0
7,200416012,Lusiana Anggraeny Sarwoningsih,10.0,7.0,7.0,8,8.0,7.0
8,190414030,Lyly Katniaty,8.5,8.0,9.0,9,8.0,8.0
9,200312016,Rahmat Pebriyanto,7.0,8.0,9.0,7,8.0,8.0
10,200206011,Natalia Margareta,8.0,9.0,9.0,9,9.0,9.0
11,190413009,Nura Damayanti Ariningsih,10.0,10.0,8.0,9,8.0,10.0
12,200208012,Laila Fajar Fatimah,10.0,10.0,8.0,9,8.0,9.0
13,200207061,Vito Cristian Adi Saputra,9.0,9.0,8.5,8,9.0,6.5
14,200217014,M. Indrawan Nur Huda,8.5,10.0,9.5,9,10.0,9.0
15,20013199,Leny Monica,8.0,8.0,8.0,7,9.0,8.0
16,190414020,Lili Mulyaningsih,8.0,8.0,6.0,6,6.0,6.0
17,200310008,Mohammad Ali Musthofa Wahyu Utomo,8.0,8.0,7.0,8,7.0,7.0
18,200208028,Annisa Yuli Kartikasari,9.0,9.0,8.0,9,9.0,9.0
19,200209055,Shalsabilla Septia Dewi,8.0,8.0,7.0,7,7.0,8.0

In [4]:
#Tampilkan data berdasarkan skor penampilan fisik

data_penampilanfisik = np.array(data_agtbarubem)
data_penampilanfisik = data_penampilanfisik[:,[0,2]]
print("index = 0 NIM , 1 = Penampilan Fisik")
pd.DataFrame(data_penampilanfisik)

index = 0 NIM , 1 = Penampilan Fisik

            0     1
0   200103071   8.0
1   200416024   8.0
2   200416008   8.0
3   200207065   9.0
4   200416021   9.0
5   200207054   9.0
6   200416018   8.0
7   200416012  10.0
8   190414030   8.5
9   200312016   7.0
10  200206011   8.0
11  190413009  10.0
12  200208012  10.0
13  200207061   9.0
14  200217014   8.5
15   20013199   8.0
16  190414020   8.0
17  200310008   8.0
18  200208028   9.0
19  200209055   8.0

In [5]:
#Tampilkan data berdasarkan skor sopan santun

data_sopansantun = np.array(data_agtbarubem)
data_sopansantun = data_sopansantun[:,[0,3]]
print("index = 0 NIM , 1 = Sopan Santun")
pd.DataFrame(data_sopansantun)

index = 0 NIM , 1 = Sopan Santun

            0     1
0   200103071   7.8
1   200416024   7.0
2   200416008   7.0
3   200207065   8.0
4   200416021   8.0
5   200207054   7.5
6   200416018   8.0
7   200416012   7.0
8   190414030   8.0
9   200312016   8.0
10  200206011   9.0
11  190413009  10.0
12  200208012  10.0
13  200207061   9.0
14  200217014  10.0
15   20013199   8.0
16  190414020   8.0
17  200310008   8.0
18  200208028   9.0
19  200209055   8.0

In [6]:
#Tampilkan data berdasarkan skor kepercayaan diri

data_percayadiri = np.array(data_agtbarubem)
data_percayadiri = data_percayadiri[:,[0,4]]
print("index = 0 NIM , 1 = Kepercayaan Diri")
pd.DataFrame(data_percayadiri)

index = 0 NIM , 1 = Kepercayaan Diri

            0    1
0   200103071  7.0
1   200416024  7.0
2   200416008  5.0
3   200207065  7.0
4   200416021  8.0
5   200207054  7.5
6   200416018  7.0
7   200416012  7.0
8   190414030  9.0
9   200312016  9.0
10  200206011  9.0
11  190413009  8.0
12  200208012  8.0
13  200207061  8.5
14  200217014  9.5
15   20013199  8.0
16  190414020  6.0
17  200310008  7.0
18  200208028  8.0
19  200209055  7.0

In [7]:
#Tampilkan data berdasarkan skor motivasi

data_motivasi = np.array(data_agtbarubem)
data_motivasi = data_motivasi[:,[0,5]]
print("index = 0 NIM , 1 = Motivasi")
pd.DataFrame(data_motivasi)

index = 0 NIM , 1 = Motivasi

            0  1
0   200103071  8
1   200416024  8
2   200416008  7
3   200207065  8
4   200416021  8
5   200207054  8
6   200416018  7
7   200416012  8
8   190414030  9
9   200312016  7
10  200206011  9
11  190413009  9
12  200208012  9
13  200207061  8
14  200217014  9
15   20013199  7
16  190414020  6
17  200310008  8
18  200208028  9
19  200209055  7

In [8]:
#Tampilkan data berdasarkan skor kemampuan menyampaikan pendapat

data_pendapat = np.array(data_agtbarubem)
data_pendapat = data_pendapat[:,[0,6]]
print("index = 0 NIM , 1 = Kemampuan Menyampaikan Pendapat")
pd.DataFrame(data_pendapat)

index = 0 NIM , 1 = Kemampuan Menyampaikan Pendapat

            0     1
0   200103071   7.8
1   200416024   8.0
2   200416008   7.0
3   200207065   8.0
4   200416021   8.0
5   200207054   8.0
6   200416018   6.0
7   200416012   8.0
8   190414030   8.0
9   200312016   8.0
10  200206011   9.0
11  190413009   8.0
12  200208012   8.0
13  200207061   9.0
14  200217014  10.0
15   20013199   9.0
16  190414020   6.0
17  200310008   7.0
18  200208028   9.0
19  200209055   7.0

In [9]:
#Tampilkan data berdasarkan skor pemahaman tentang organisasi

data_organisasi = np.array(data_agtbarubem)
data_organisasi = data_organisasi[:,[0,7]]
print("index = 0 NIM , 1 = Pemahaman Tentang Organisasi")
pd.DataFrame(data_organisasi)

index = 0 NIM , 1 = Pemahaman Tentang Organisasi

            0     1
0   200103071   7.5
1   200416024   8.0
2   200416008   7.0
3   200207065   9.0
4   200416021   8.0
5   200207054   7.0
6   200416018   4.0
7   200416012   7.0
8   190414030   8.0
9   200312016   8.0
10  200206011   9.0
11  190413009  10.0
12  200208012   9.0
13  200207061   6.5
14  200217014   9.0
15   20013199   8.0
16  190414020   6.0
17  200310008   7.0
18  200208028   9.0
19  200209055   8.0

In [10]:
#Tampilkan data skor penampilan fisik per anggota

penampilanfisik_01 = np.sum(data_penampilanfisik[0:1,1], axis=0)
penampilanfisik_02 = np.sum(data_penampilanfisik[1:2,1], axis=0)
penampilanfisik_03 = np.sum(data_penampilanfisik[2:3,1], axis=0)
penampilanfisik_04 = np.sum(data_penampilanfisik[3:4,1], axis=0)
penampilanfisik_05 = np.sum(data_penampilanfisik[4:5,1], axis=0)
penampilanfisik_06 = np.sum(data_penampilanfisik[5:6,1], axis=0)
penampilanfisik_07 = np.sum(data_penampilanfisik[6:7,1], axis=0)
penampilanfisik_08 = np.sum(data_penampilanfisik[7:8,1], axis=0)
penampilanfisik_09 = np.sum(data_penampilanfisik[8:9,1], axis=0)
penampilanfisik_10 = np.sum(data_penampilanfisik[9:10,1], axis=0)
penampilanfisik_11 = np.sum(data_penampilanfisik[10:11,1], axis=0)
penampilanfisik_12 = np.sum(data_penampilanfisik[11:12,1], axis=0)
penampilanfisik_13 = np.sum(data_penampilanfisik[12:13,1], axis=0)
penampilanfisik_14 = np.sum(data_penampilanfisik[13:14,1], axis=0)
penampilanfisik_15 = np.sum(data_penampilanfisik[14:15,1], axis=0)
penampilanfisik_16 = np.sum(data_penampilanfisik[15:16,1], axis=0)
penampilanfisik_17 = np.sum(data_penampilanfisik[16:17,1], axis=0)
penampilanfisik_18 = np.sum(data_penampilanfisik[17:18,1], axis=0)
penampilanfisik_19 = np.sum(data_penampilanfisik[18:19,1], axis=0)
penampilanfisik_20 = np.sum(data_penampilanfisik[19:20,1], axis=0)

print("penampilanfisik_01 : ",penampilanfisik_01)
print("penampilanfisik_02 : ",penampilanfisik_02)
print("penampilanfisik_03 : ",penampilanfisik_03)
print("penampilanfisik_04 : ",penampilanfisik_04)
print("penampilanfisik_05 : ",penampilanfisik_05)
print("penampilanfisik_06 : ",penampilanfisik_06)
print("penampilanfisik_07 : ",penampilanfisik_07)
print("penampilanfisik_08 : ",penampilanfisik_08)
print("penampilanfisik_09 : ",penampilanfisik_09)
print("penampilanfisik_10 : ",penampilanfisik_10)
print("penampilanfisik_11 : ",penampilanfisik_11)
print("penampilanfisik_12 : ",penampilanfisik_12)
print("penampilanfisik_13 : ",penampilanfisik_13)
print("penampilanfisik_14 : ",penampilanfisik_14)
print("penampilanfisik_15 : ",penampilanfisik_15)
print("penampilanfisik_16 : ",penampilanfisik_16)
print("penampilanfisik_17 : ",penampilanfisik_17)
print("penampilanfisik_18 : ",penampilanfisik_18)
print("penampilanfisik_19 : ",penampilanfisik_19)
print("penampilanfisik_20 : ",penampilanfisik_20)

penampilanfisik_01 :  8.0
penampilanfisik_02 :  8.0
penampilanfisik_03 :  8.0
penampilanfisik_04 :  9.0
penampilanfisik_05 :  9.0
penampilanfisik_06 :  9.0
penampilanfisik_07 :  8.0
penampilanfisik_08 :  10.0
penampilanfisik_09 :  8.5
penampilanfisik_10 :  7.0
penampilanfisik_11 :  8.0
penampilanfisik_12 :  10.0
penampilanfisik_13 :  10.0
penampilanfisik_14 :  9.0
penampilanfisik_15 :  8.5
penampilanfisik_16 :  8.0
penampilanfisik_17 :  8.0
penampilanfisik_18 :  8.0
penampilanfisik_19 :  9.0
penampilanfisik_20 :  8.0

In [11]:
#Tampilkan data skor sopan santun per anggota

sopansantun_01 = np.sum(data_sopansantun[0:1,1], axis=0)
sopansantun_02 = np.sum(data_sopansantun[1:2,1], axis=0)
sopansantun_03 = np.sum(data_sopansantun[2:3,1], axis=0)
sopansantun_04 = np.sum(data_sopansantun[3:4,1], axis=0)
sopansantun_05 = np.sum(data_sopansantun[4:5,1], axis=0)
sopansantun_06 = np.sum(data_sopansantun[5:6,1], axis=0)
sopansantun_07 = np.sum(data_sopansantun[6:7,1], axis=0)
sopansantun_08 = np.sum(data_sopansantun[7:8,1], axis=0)
sopansantun_09 = np.sum(data_sopansantun[8:9,1], axis=0)
sopansantun_10 = np.sum(data_sopansantun[9:10,1], axis=0)
sopansantun_11 = np.sum(data_sopansantun[10:11,1], axis=0)
sopansantun_12 = np.sum(data_sopansantun[11:12,1], axis=0)
sopansantun_13 = np.sum(data_sopansantun[12:13,1], axis=0)
sopansantun_14 = np.sum(data_sopansantun[13:14,1], axis=0)
sopansantun_15 = np.sum(data_sopansantun[14:15,1], axis=0)
sopansantun_16 = np.sum(data_sopansantun[15:16,1], axis=0)
sopansantun_17 = np.sum(data_sopansantun[16:17,1], axis=0)
sopansantun_18 = np.sum(data_sopansantun[17:18,1], axis=0)
sopansantun_19 = np.sum(data_sopansantun[18:19,1], axis=0)
sopansantun_20 = np.sum(data_sopansantun[19:20,1], axis=0)

print("sopansantun_01 : ",sopansantun_01)
print("sopansantun_02 : ",sopansantun_02)
print("sopansantun_03 : ",sopansantun_03)
print("sopansantun_04 : ",sopansantun_04)
print("sopansantun_05 : ",sopansantun_05)
print("sopansantun_06 : ",sopansantun_06)
print("sopansantun_07 : ",sopansantun_07)
print("sopansantun_08 : ",sopansantun_08)
print("sopansantun_09 : ",sopansantun_09)
print("sopansantun_10 : ",sopansantun_10)
print("sopansantun_11 : ",sopansantun_11)
print("sopansantun_12 : ",sopansantun_12)
print("sopansantun_13 : ",sopansantun_13)
print("sopansantun_14 : ",sopansantun_14)
print("sopansantun_15 : ",sopansantun_15)
print("sopansantun_16 : ",sopansantun_16)
print("sopansantun_17 : ",sopansantun_17)
print("sopansantun_18 : ",sopansantun_18)
print("sopansantun_19 : ",sopansantun_19)
print("sopansantun_20 : ",sopansantun_20)

sopansantun_01 :  7.8
sopansantun_02 :  7.0
sopansantun_03 :  7.0
sopansantun_04 :  8.0
sopansantun_05 :  8.0
sopansantun_06 :  7.5
sopansantun_07 :  8.0
sopansantun_08 :  7.0
sopansantun_09 :  8.0
sopansantun_10 :  8.0
sopansantun_11 :  9.0
sopansantun_12 :  10.0
sopansantun_13 :  10.0
sopansantun_14 :  9.0
sopansantun_15 :  10.0
sopansantun_16 :  8.0
sopansantun_17 :  8.0
sopansantun_18 :  8.0
sopansantun_19 :  9.0
sopansantun_20 :  8.0

In [12]:
#Tampilkan data skor kepercayaan diri per anggota

percayadiri_01 = np.sum(data_percayadiri[0:1,1], axis=0)
percayadiri_02 = np.sum(data_percayadiri[1:2,1], axis=0)
percayadiri_03 = np.sum(data_percayadiri[2:3,1], axis=0)
percayadiri_04 = np.sum(data_percayadiri[3:4,1], axis=0)
percayadiri_05 = np.sum(data_percayadiri[4:5,1], axis=0)
percayadiri_06 = np.sum(data_percayadiri[5:6,1], axis=0)
percayadiri_07 = np.sum(data_percayadiri[6:7,1], axis=0)
percayadiri_08 = np.sum(data_percayadiri[7:8,1], axis=0)
percayadiri_09 = np.sum(data_percayadiri[8:9,1], axis=0)
percayadiri_10 = np.sum(data_percayadiri[9:10,1], axis=0)
percayadiri_11 = np.sum(data_percayadiri[10:11,1], axis=0)
percayadiri_12 = np.sum(data_percayadiri[11:12,1], axis=0)
percayadiri_13 = np.sum(data_percayadiri[12:13,1], axis=0)
percayadiri_14 = np.sum(data_percayadiri[13:14,1], axis=0)
percayadiri_15 = np.sum(data_percayadiri[14:15,1], axis=0)
percayadiri_16 = np.sum(data_percayadiri[15:16,1], axis=0)
percayadiri_17 = np.sum(data_percayadiri[16:17,1], axis=0)
percayadiri_18 = np.sum(data_percayadiri[17:18,1], axis=0)
percayadiri_19 = np.sum(data_percayadiri[18:19,1], axis=0)
percayadiri_20 = np.sum(data_percayadiri[19:20,1], axis=0)

print("percayadiri_01 : ",percayadiri_01)
print("percayadiri_02 : ",percayadiri_02)
print("percayadiri_03 : ",percayadiri_03)
print("percayadiri_04 : ",percayadiri_04)
print("percayadiri_05 : ",percayadiri_05)
print("percayadiri_06 : ",percayadiri_06)
print("percayadiri_07 : ",percayadiri_07)
print("percayadiri_08 : ",percayadiri_08)
print("percayadiri_09 : ",percayadiri_09)
print("percayadiri_10 : ",percayadiri_10)
print("percayadiri_11 : ",percayadiri_11)
print("percayadiri_12 : ",percayadiri_12)
print("percayadiri_13 : ",percayadiri_13)
print("percayadiri_14 : ",percayadiri_14)
print("percayadiri_15 : ",percayadiri_15)
print("percayadiri_16 : ",percayadiri_16)
print("percayadiri_17 : ",percayadiri_17)
print("percayadiri_18 : ",percayadiri_18)
print("percayadiri_19 : ",percayadiri_19)
print("percayadiri_20 : ",percayadiri_20)

percayadiri_01 :  7.0
percayadiri_02 :  7.0
percayadiri_03 :  5.0
percayadiri_04 :  7.0
percayadiri_05 :  8.0
percayadiri_06 :  7.5
percayadiri_07 :  7.0
percayadiri_08 :  7.0
percayadiri_09 :  9.0
percayadiri_10 :  9.0
percayadiri_11 :  9.0
percayadiri_12 :  8.0
percayadiri_13 :  8.0
percayadiri_14 :  8.5
percayadiri_15 :  9.5
percayadiri_16 :  8.0
percayadiri_17 :  6.0
percayadiri_18 :  7.0
percayadiri_19 :  8.0
percayadiri_20 :  7.0

In [13]:
#Tampilkan data skor motivasi per anggota

motivasi_01 = np.sum(data_motivasi[0:1,1], axis=0)
motivasi_02 = np.sum(data_motivasi[1:2,1], axis=0)
motivasi_03 = np.sum(data_motivasi[2:3,1], axis=0)
motivasi_04 = np.sum(data_motivasi[3:4,1], axis=0)
motivasi_05 = np.sum(data_motivasi[4:5,1], axis=0)
motivasi_06 = np.sum(data_motivasi[5:6,1], axis=0)
motivasi_07 = np.sum(data_motivasi[6:7,1], axis=0)
motivasi_08 = np.sum(data_motivasi[7:8,1], axis=0)
motivasi_09 = np.sum(data_motivasi[8:9,1], axis=0)
motivasi_10 = np.sum(data_motivasi[9:10,1], axis=0)
motivasi_11 = np.sum(data_motivasi[10:11,1], axis=0)
motivasi_12 = np.sum(data_motivasi[11:12,1], axis=0)
motivasi_13 = np.sum(data_motivasi[12:13,1], axis=0)
motivasi_14 = np.sum(data_motivasi[13:14,1], axis=0)
motivasi_15 = np.sum(data_motivasi[14:15,1], axis=0)
motivasi_16 = np.sum(data_motivasi[15:16,1], axis=0)
motivasi_17 = np.sum(data_motivasi[16:17,1], axis=0)
motivasi_18 = np.sum(data_motivasi[17:18,1], axis=0)
motivasi_19 = np.sum(data_motivasi[18:19,1], axis=0)
motivasi_20 = np.sum(data_motivasi[19:20,1], axis=0)

print("motivasi_01 : ",motivasi_01)
print("motivasi_02 : ",motivasi_02)
print("motivasi_03 : ",motivasi_03)
print("motivasi_04 : ",motivasi_04)
print("motivasi_05 : ",motivasi_05)
print("motivasi_06 : ",motivasi_06)
print("motivasi_07 : ",motivasi_07)
print("motivasi_08 : ",motivasi_08)
print("motivasi_09 : ",motivasi_09)
print("motivasi_10 : ",motivasi_10)
print("motivasi_11 : ",motivasi_11)
print("motivasi_12 : ",motivasi_12)
print("motivasi_13 : ",motivasi_13)
print("motivasi_14 : ",motivasi_14)
print("motivasi_15 : ",motivasi_15)
print("motivasi_16 : ",motivasi_16)
print("motivasi_17 : ",motivasi_17)
print("motivasi_18 : ",motivasi_18)
print("motivasi_19 : ",motivasi_19)
print("motivasi_20 : ",motivasi_20)

motivasi_01 :  8
motivasi_02 :  8
motivasi_03 :  7
motivasi_04 :  8
motivasi_05 :  8
motivasi_06 :  8
motivasi_07 :  7
motivasi_08 :  8
motivasi_09 :  9
motivasi_10 :  7
motivasi_11 :  9
motivasi_12 :  9
motivasi_13 :  9
motivasi_14 :  8
motivasi_15 :  9
motivasi_16 :  7
motivasi_17 :  6
motivasi_18 :  8
motivasi_19 :  9
motivasi_20 :  7